
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap');

:root {
    --dark-color: #000;
    --light-color: #fff;

    --primary-color: #fff;
    --nav-link-color: #000;
    --placeholder-color: #b5b5b5;

    --content-color: #fff;
    --content-reverse-color: #000;
    --burger-menu-color: #000;
    --contact-icon-color: #000;
}

body{ 
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--dark-color);
    font-family: 'Montserrat', sans-serif;
}



/* navbar */
/* navbar */
/* navbar */

nav {
  
  background-color: var(--primary-color);
  height: 10vh;
   
    
}
.nav-container {
    display: flex;
    margin: 0px auto;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
 
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
 

}
.logo-container h1 {
    font-weight: 900;
}


.logo-container img {
    width: 60px;
    height: 50px;
    border-radius: 50%;
    
}

.link-container ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 
}
.link-container ul li {
   list-style-type: none;
   padding-right: 40px;

}
.link-container ul li a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-weight: 600;
 }
.themes-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.link-container ul li i {
    padding-left: 5px;
    color: var(--nav-link-color);
}
i.material-icons.menu-burger {
    display: none;
}

/* theme-stylings */
/* theme-stylings */
/* theme-stylings */

.theme-option-container {
    display: flex;
    flex-direction: column;
    color: #000;
    width: 20%;
    background-color: white;
    justify-content: space-evenly;
    margin-left: 70%;
    border: 1px solid #000;
    border-radius: 0px 0px 12px 12px;
    display: none;
    position: absolute;
    z-index: 1;

}

.theme-option-container li {
    width: 24px;
    height: 24px;
    background-color: #000;
    margin-right: 20px;
    list-style: none;
    border: 1px solid #000;
    
    
}
.theme-option-container p {
    margin-left: 10px;
    font-weight: 500;
}

.dark-theme ul, .light-theme ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.dark-theme ul li, .light-theme ul li{
    margin-bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.link-container ul i.close {
    display: none;
}

/* home-content */
/* home-content */
/* home-content */

.home-container {
    width: 100%;
   
   
}
.home-holder {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home-content-holder h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 50px;
    color: var(--content-color);
}
.home-content-holder p {
    font-weight: 200;
    font-size: 18px;
    color: var(--content-color);
   
}
.home-content-holder p span {
    background-color: var(--content-color);
    border-radius: 12px;
    padding: 7px;
    color: var(--content-reverse-color);
    margin-left: 10px;
    font-weight: 900;
}

.arrow-goes-up {
    background-color: var(--light-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: sticky;
    margin-left: 90%;
    top: 550px;
    margin-top: 100px;
    border: 2px solid var(--dark-color);
    animation: goes-up-arrow 1.5s infinite;

}

.arrow-goes-up a span{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: var(--dark-color);
}
@keyframes goes-up-arrow {
    50% {
        box-shadow: 0 0 50px var(--light-color);
    }
}


/* about-content */
/* about-content */
/* about-content */


.about-page-container {
    width: 100%;
 
}

.about-holder {
    width: 50%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--content-color);
   
}
.header-about-page {
    padding-bottom: 10px;
    text-align: center;
    font-size: 40px;
    border-bottom: 2px solid var(--light-color);
}
.contents-about-me {
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
    flex-wrap: wrap;
    margin-top: 20px;
    letter-spacing: 2px;
    line-height: 30px;
    
}

.header-about h1 {
    font-size: 24px;
    text-align: center;
    
}

.header-about div  {
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.header-about div span {
    margin-left: 15px;
    color: var(--light-color);
}

/* skills-page-styling */
/* skills-page-styling */
/* skills-page-styling */

.skills-page-holder {
    width: 100%;
    margin-top: 100px;
  
}
.skills-content-holder {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--light-color);
}
.skills-content-holder h1 {
    border-bottom: 2px solid var(--light-color);
    padding-bottom: 10px;
}
.skills-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px auto;
}
.skills-alone {
    width: 25%;
    margin: 0px auto;
    text-align: center;
    margin: 10% 2%;
   
   
}
.rate-circles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.rate-circles div {
    width: 24px;
    height: 24px;
    background-color: #00ff00;
    border-radius: 50%;
    width: 10%;
}
.star4-spot div {
    background-color: #41c441;
}
.star4-spot div:nth-child(5) {
    background: none;
    border: 1px solid var(--light-color);
}
.star3-spot div {
    background-color: orange;
}
.star3-spot div:nth-child(5), .star3-spot div:nth-child(4) {
    background: none;
    border: 1px solid var(--light-color);
}
.star2-spot div {
    background-color: yellow;
}
.star2-spot div:nth-child(5), .star2-spot div:nth-child(4), .star2-spot div:nth-child(3) {
    background: none;
    border: 1px solid var(--light-color);
}
.star1-spot div {
    background-color: red;
}
.star1-spot div:nth-child(5), .star1-spot div:nth-child(4), .star1-spot div:nth-child(3), .star1-spot div:nth-child(2) {
    background: none;
    border: 1px solid var(--light-color);
}


.image-container-skills img {
    width: 150px;
    height: 100px;
}


/* project-page */
/* project-page */
/* project-page */

.projects-page-holder {
    width: 100%;
}
.projects-page-container {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.projects-page-container h1 {
    border-bottom: 2px solid var(--light-color);
    padding-bottom: 10px;
    color: var(--light-color);
}
.project-content-holder {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}
.projects-content {
    margin-top: 40px;
}

.projects-content img {
    width: 600px;
    height: 300px;
    border-radius: 8px;
    border: 10px solid var(--light-color);
    box-shadow: 0px 10px 20px var(--light-color);
}
.projects-content div p {
    margin-top: 30px;
    font-size: 25px;
    color: var(--primary-color);
}
.projects-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.projects-buttons div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-color);
    border-radius: 20px;
    padding: 5px 20px;
    width: 20%;
    cursor: pointer;
    box-shadow: 0px 5px 10px var(--light-color);
}
.projects-buttons div a {
    color: var(--dark-color);
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
}

.projects-buttons div a i, .projects-buttons div i {
    display: flex;
    align-items: center;
    font-size: 26px;
    
}

.projects-buttons div i {
    color: var(--dark-color);
}


/* sidebar-stylings */
/* sidebar-stylings */
/* sidebar-stylings */


.contact-sidebar-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 25vh;
    height: 300px;
    left: 0%;
    background-color: var(--light-color);
    padding: 40px 10px 40px 10px;
    border-radius: 0px 20px 20px 0px;
    display: none;
}
.contact-sidebar-holder a {
    color: var(--contact-icon-color);
}
.contact-sidebar-holder a i {
    font-size: 24px;
  
}
.open-sidebar{
    animation: sidebar 2s infinite;
    color: var(--light-color);
   
}
.open2-sidebar  {
    animation: sidebar2 2s infinite;
    color: var(--light-color);
}
.open-sidebar i, .open2-sidebar i {
    position: fixed;
    left: 0;
    top: 50vh;
    cursor: pointer;
    font-size: 40px;
 
}
@keyframes sidebar {
    70% {
       text-shadow: 20px 0 var(--light-color);
    } 
}
@keyframes sidebar2 {
    60% {
       text-shadow: 40px 0 var(--light-color);
    } 
}

.contact-sidebar-holder .close-position {
    position: relative;
    top: -20px;
    cursor: pointer;
}

/* contact-page */
/* contact-page */
/* contact-page */

.contact-page-holder {
    width: 100%;
}
.contact-page-container {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

}
.contact-content-holder {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;

}
.contact-content-holder p {
    text-align: justify;
    width: 40%;
    line-height: 30px;
    letter-spacing: 2px;
    font-size: 18px;
    padding-right: 40px;
    border-right: 1px solid var(--light-color);
    color: var(--light-color);
}
.contact-form-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
   
}
.contact-form-holder div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.contact-form-holder div label {
    margin-bottom: 10px;
    color: var(--light-color);
}

.contact-page-container h1 {
    border-bottom: 2px solid var(--light-color);
    padding-bottom: 10px;
    color: var(--light-color);
    
}
.contact-form-holder input {
    padding: 10px;
    outline: none;
    font-size: 20px;
    color: var(--dark-color);
    border-radius: 8px;
    border: none;
}
.contact-form-holder textarea {
    outline: none;
    padding: 10px;
    font-size: 20px;
    color: var(--dark-color);
    border-radius: 8px;
    border: none;
}
.contact-form-holder input::placeholder, .contact-form-holder textarea::placeholder {
    color: var(--placeholder-color);
}
.contact-form-holder .submit-button {
    width: 30%;
    border: 2px solid var(--light-color);
    outline: none;
    background-color: var(--dark-color);
    color: var(--light-color);
    text-align: center;
    border-radius: 16px;
}
.contact-form-holder .submit-button:hover {
    color: var(--dark-color);
    background-color: var(--light-color);
    transform: scale(0.9);
    cursor: pointer;
}

/* footer */
/* footer */
/* footer */


.footer-container {
    width: 100%;
    background-color: var(--primary-color);
    margin-top: 100px;
  
}
.footer-content-container {
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin:auto;
 
}
.footer-content-container p {
    font-size: 20px;
    font-weight: 600;
  
    animation: footer 7s infinite steps(48);
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid var(--dark-color);
    width: 48ch;
    
   
}
.footer-content-container  a {
    color: var(--dark-color);
    text-decoration: none;
   
}

@keyframes footer {
    0% {
        width: 0ch;
    }
    100% {
       width: 48ch;
    }
}


/* media-querries */
/* media-querries */
/* media-querries */

@media screen and (min-width: 1400px) {
   
    .skills-alone {
        width: 20%;
    }
    .arrow-goes-up {
        top: 800px;
    }
    .contact-sidebar-holder {
        top: 30vh;
    }

}

@media screen and (max-width: 1050px) {
    
    .arrow-goes-up {
        top: 1250px;
    }
    .home-holder {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        justify-content: space-between;
    }
    .header-about-page {
        margin-top: 200px;
    }
    .home-content-holder h1 {
        margin-bottom: 100px;
    }
    .home-content-holder p {
        margin-bottom: 50px;
    }
    .home-image-holder {
        margin-top: 50px;
    }
    .projects-content img {
        width: 400px;
        height: 200px;
    } 
    .contact-sidebar-holder {
        top: 40vh;
    }


}

@media screen and (max-width: 860px) {
 body {
     font-size: 12px;
 }
    .skills-alone {
        width: 30%;
    }
    .link-container {
        display: none;
    }

   
    .link-container ul {
        flex-direction: column;
        justify-content: space-evenly;
       position: absolute;
        z-index: 1;
        width: 90%;
        margin-left: -65%;
        margin-top: -10%;
        height: 100%;
        background-color: var(--dark-color);
    }
    .link-container ul li a, .link-container ul li i, .link-container ul  {
        color: var(--primary-color);
        cursor: pointer;
        font-size: 20px;
    }
    .menu-burger {
        cursor: pointer;
    }
    .link-container ul i.close {
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 20px;
        padding-right: 40px;
        cursor: pointer;
        display: block;
    }
    i.material-icons.menu-burger {
        display: inline-block;
        color: var(--burger-menu-color);
    }
    .arrow-goes-up {
        top: 900px;
        margin-top: -80px;
        margin-left: 80%; 
    }
    
  
    .projects-buttons div  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25%;
    }
    .projects-button div a i {
        font-size: 16px;
    }
    .contact-content-holder {
        flex-direction: column;
       
    }
    .contact-content-holder p {
        width: 80%;
        margin: 0 auto;
        border-right: none;
        padding-bottom: 40px;
        border-bottom: 1px solid var(--light-color);
        padding-right: 0;
    }
    .contact-content-holder input, .contact-content-holder textarea {
        width: 100%;
        font-size: 12px;
    }
   
   
}
@media screen and (max-width: 770px) {
     
    .link-container ul {
        width: 100%;
        margin-top: -7%;
    }
    .link-container ul li a {
        font-size: 26px;
    }
    .link-container ul i.close {
        font-size: 50px;
    }
    .contact-sidebar-holder {
        top: 35vh;
    }
    .footer-content-container p {
        font-size: 14px;
        width: 35ch;
    }
  
}
@media screen and (max-width: 700px) {
    .open2-sidebar  {
        display: none;
     
    }
}

@media screen and (max-width: 500px) {
    .home-holder {
        flex-direction: column;
    }
    .theme-option-container {
        width: 100%;
     
    
    }
    .arrow-goes-up {
        top: 800px;
        margin-top: -100px;
        margin-left: 80%; 
    }
    .home-holder h1 {
        font-size: 26px;
    }
    .home-holder p{
        font-size: 16px;
    }
    i.material-icons.menu-burger {
        display: inline-block;
        color: var(--burger-menu-color);
    }
    .nav-container {
        font-size: 10px;
    }
    .link-container {
        display: none;
    }

    .skills-alone {
        width: 100%;
        
    }
    .contents-about-me {
        font-size: 12px;
        text-align: start;
    }
    .header-about-page {
        font-size: 25px;
    }
    .skills-content-holder {
        font-size: 16px;
    }
    .home-image-holder img {
        width: 200px;
    }
    .projects-content img {
        width: 200px;
        height: 100px;
    } 
  
    .footer-content-container p {
        font-size: 12px;
      
    }

}
@media screen and (max-width: 420px) {
    .arrow-goes-up {
        top: 600px;
        margin-top: 0px;
        margin-left: 75%; 
    }
    .contact-sidebar-holder {
        top: 25vh;
        height: 250px;
    }
    .footer-content-container {
        
        width: 100%;
    }
   
}
@media screen and (max-width: 370px) {
    .arrow-goes-up {
        top: 580px;
        margin-top: -90px;
        margin-left: 75%; 
    }
    .contact-sidebar-holder {
        top: 25vh;
        height: 250px;
    }
}

@media screen and (max-width: 325px) {
    .home-holder p {
        font-size: 12px;
    }
    .home-holder h1 {
        font-size: 20px;
    }
    .arrow-goes-up {
        top: 400px;
        margin-top: -150px;
        margin-left: 75%; 
    }
    .contact-sidebar-holder {
        top: 20vh;
        height: 250px;
    }
    .footer-content-container p {
        font-size: 10px;
    }
}
@media screen and (max-width: 280px) {
     
    .link-container ul {
        width: 100%;
        margin-top: -11%;
        margin-left: -75%;
    }
    .link-container ul li a {
        font-size: 20px;
    }
    .link-container ul i.close {
        font-size: 30px;
    }
    .footer-content-container p {
        font-size: 8px;
    }
}