:root {
    --dark-color: #000;
    --light-color: #fff;
    --content-color: #fff;

    
    --primary-color: blue;
    --nav-link-color: #fff;
    --placeholder-color: #b5b5b5;

    --image-home: url(./images/programmingblue.svg);
    --content-reverse-color: blue;
    --contact-icon-color: blue;
}