
:root {
    --dark-color: #000;
    --light-color: #fff;

    --primary-color: #fff;
    --nav-link-color: #000;
    --placeholder-color: #b5b5b5;

    --content-color: #fff;
    --content-reverse-color: #000;
    --image-home: url(./images/programmingwhite.svg);
    --contact-icon-color: #000;
}
