:root {
    --dark-color: #000;
    --light-color: #fff;
    --content-color: #fff;

    
    --primary-color: #BADA55;
    --nav-link-color: #fff;
    --placeholder-color: #b5b5b5;

   
    --content-reverse-color: #BADA55;
    --image-home: url(./images/programminggreenery.svg);
    --contact-icon-color: #BADA55;
}