:root {
    --dark-color: #000;
    --light-color: #fff;
    --content-color: #fff;

    
    --primary-color: #ffdd00;
    --nav-link-color: #fff;
    --placeholder-color: #b5b5b5;

   
    --content-reverse-color: #ffdd00;
    --image-home: url(./images/programmingyellow.svg);
    --contact-icon-color: #ffdd00;
}