:root {
    --dark-color: #000;
    --light-color: #fff;
    --content-color: #fff;

    
    --primary-color: pink;
    --nav-link-color: #fff;
    --placeholder-color: #b5b5b5;

   
    --content-reverse-color: pink;

    --contact-icon-color: pink;
}