:root {
    --dark-color: #fff;
    --light-color: #000;
    --content-color: #000;

    --primary-color: #ffe600;
    --nav-link-color: #fff;
    --placeholder-color: #b5b5b5;

  
    --content-reverse-color: #ffe600;
    --burger-menu-color: #ffe600;
    --contact-icon-color: #ffe600;
}