:root {
    --dark-color: #fff;
    --light-color: #000;
    --content-color: #000;

    --primary-color: #6FC3DF;
    --nav-link-color: #fff;
    --placeholder-color: #b5b5b5;

  
    --content-reverse-color: #6FC3DF;
    --image-home: url(./images/programmingaqua.svg);
    --contact-icon-color: #6FC3DF;
}